body {
    font-size: 15px;
}

header {
    border: 2px solid rgba(0, 0, 0, .1);
}

.col-9 {
    text-align: left;
}

.col-md-auto {
    border-right: 2px solid rgba(0, 0, 0, .1);
}

#comment {
    margin-bottom: 20px;
}

.carousel-inner img {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: gainsboro;
}

.completed {
    color: gray;
    text-decoration: line-through
}

footer {
    background-color: lightskyblue;
    border: 2px solid rgba(0, 0, 0, .1);
}