header {
    background-color: #273238;

}

body {
    background-color: #d8e3ea;
}

.navbar {
    background-color: #273238;
}

#comment {
    margin-bottom: 20px;
}

.card-header {
    background-color: #007cba;
    color: lightyellow;
}

.completed {
    color: gray;
    text-decoration: line-through
}

footer {
    color: lightyellow;
    background-color: #273238;
    text-align: center;
}